# Lab-2 Activities

# Perform data preprocesing for Automobile.csv

# i. Delete the column horsepower since it has few missing values

# ii. Impute missing with meadin

# iii. Apply min-max scaling and standardization on the Automobiles.csv and provide the reasoning which feature scaling method make more sense to this dataset.

### Perform various data preprocessing techniques like handling missing data and feature scaling.

#### step 1: Start by importing the necessary Python libraries for data preprocessing.

In [9]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler

#### Step 2: Load the placement dataset into a Pandas Dataframe.

In [38]:
df = pd.read_csv("Automobile.csv",index_col=0)
print(df)

                            mpg  cylinders  displacement  horsepower  weight  \
name
chevrolet chevelle malibu  18.0        8.0         307.0       130.0  3504.0
buick skylark 320          15.0        8.0         350.0       165.0  3693.0
plymouth satellite         18.0        8.0         318.0       150.0  3436.0
amc rebel sst              16.0        8.0         304.0       150.0  3433.0
ford torino                17.0        NaN         302.0       140.0  3449.0
...                         ...        ...           ...         ...     ...
ford mustang gl            27.0        4.0         140.0        86.0  2790.0
vw pickup                  44.0        4.0          97.0        52.0  2130.0
dodge rampage              32.0        4.0         135.0        84.0  2295.0
ford ranger                28.0        4.0         120.0        79.0  2625.0
chevy s-10                 31.0        4.0         119.0        82.0  2720.0

                           acceleration  model_year  origin
name
chevrolet chevelle malibu          12.0          70     usa
buick skylark 320                  11.5          70     usa
plymouth satellite                 11.0          70     usa
amc rebel sst                      12.0          70     usa
ford torino                        10.5          70     usa
...                                 ...         ...     ...
ford mustang gl                    15.6          82     usa
vw pickup                          24.6          82  europe
dodge rampage                      11.6          82     usa
ford ranger                        18.6          82     usa
chevy s-10                         19.4          82     usa

[398 rows x 8 columns]

#### Step 3:Take a quick look at the data to understand its structure and identify any missing values or anomalies.

In [46]:
df.info()
print()
print(df.head())
df.shape

<class 'pandas.core.frame.DataFrame'>
Index: 398 entries, chevrolet chevelle malibu to chevy s-10
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     395 non-null    float64
 2   displacement  395 non-null    float64
 3   horsepower    386 non-null    float64
 4   weight        396 non-null    float64
 5   acceleration  395 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
dtypes: float64(6), int64(1), object(1)
memory usage: 28.0+ KB

                            mpg  cylinders  displacement  horsepower  weight  \
name
chevrolet chevelle malibu  18.0        8.0         307.0       130.0  3504.0
buick skylark 320          15.0        8.0         350.0       165.0  3693.0
plymouth satellite         18.0        8.0         318.0       150.0  3436.0
amc rebel sst              16.0        8.0         304.0       150.0  3433.0
ford torino                17.0        NaN         302.0       140.0  3449.0

                           acceleration  model_year origin
name
chevrolet chevelle malibu          12.0          70    usa
buick skylark 320                  11.5          70    usa
plymouth satellite                 11.0          70    usa
amc rebel sst                      12.0          70    usa
ford torino                        10.5          70    usa

(398, 8)

#### The method isnull() checks each element in the DataFrame (or Series) to see if it is NaN (Not a Number) or None (missing value).
It returns a DataFrame (or Series) of the same shape as the input, with Boolean values:
#### True: The value is null (NaN or None).
#### False: The value is not null.

In [48]:
print(df.isnull())
df.isnull().sum()

                             mpg  cylinders  displacement  horsepower  weight  \
name
chevrolet chevelle malibu  False      False         False       False   False
buick skylark 320          False      False         False       False   False
plymouth satellite         False      False         False       False   False
amc rebel sst              False      False         False       False   False
ford torino                False       True         False       False   False
...                          ...        ...           ...         ...     ...
ford mustang gl            False      False         False       False   False
vw pickup                  False      False         False       False   False
dodge rampage              False      False         False       False   False
ford ranger                False      False         False       False   False
chevy s-10                 False      False         False       False   False

                           acceleration  model_year  origin
name
chevrolet chevelle malibu         False       False   False
buick skylark 320                 False       False   False
plymouth satellite                False       False   False
amc rebel sst                     False       False   False
ford torino                       False       False   False
...                                 ...         ...     ...
ford mustang gl                   False       False   False
vw pickup                         False       False   False
dodge rampage                     False       False   False
ford ranger                       False       False   False
chevy s-10                        False       False   False

[398 rows x 8 columns]

mpg              0
cylinders        3
displacement     3
horsepower      12
weight           2
acceleration     3
model_year       0
origin           0
dtype: int64

#### Step 4: Handle Missing Data
#### Option 1: If the dataset is large and only a small percentage of data is missing, you can remove rows with missing values using dropna(subset,inplace)

In [50]:
print(df.dropna(subset=["horsepower"],inplace=False))
df.dropna(subset=["horsepower"],inplace=True)

                            mpg  cylinders  displacement  horsepower  weight  \
name
chevrolet chevelle malibu  18.0        8.0         307.0       130.0  3504.0
buick skylark 320          15.0        8.0         350.0       165.0  3693.0
plymouth satellite         18.0        8.0         318.0       150.0  3436.0
amc rebel sst              16.0        8.0         304.0       150.0  3433.0
ford torino                17.0        NaN         302.0       140.0  3449.0
...                         ...        ...           ...         ...     ...
ford mustang gl            27.0        4.0         140.0        86.0  2790.0
vw pickup                  44.0        4.0          97.0        52.0  2130.0
dodge rampage              32.0        4.0         135.0        84.0  2295.0
ford ranger                28.0        4.0         120.0        79.0  2625.0
chevy s-10                 31.0        4.0         119.0        82.0  2720.0

                           acceleration  model_year  origin
name
chevrolet chevelle malibu          12.0          70     usa
buick skylark 320                  11.5          70     usa
plymouth satellite                 11.0          70     usa
amc rebel sst                      12.0          70     usa
ford torino                        10.5          70     usa
...                                 ...         ...     ...
ford mustang gl                    15.6          82     usa
vw pickup                          24.6          82  europe
dodge rampage                      11.6          82     usa
ford ranger                        18.6          82     usa
chevy s-10                         19.4          82     usa

[386 rows x 8 columns]

In [52]:
print(df.info())
print()
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 386 entries, chevrolet chevelle malibu to chevy s-10
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           386 non-null    float64
 1   cylinders     383 non-null    float64
 2   displacement  383 non-null    float64
 3   horsepower    386 non-null    float64
 4   weight        384 non-null    float64
 5   acceleration  384 non-null    float64
 6   model_year    386 non-null    int64
 7   origin        386 non-null    object
dtypes: float64(6), int64(1), object(1)
memory usage: 27.1+ KB
None

mpg             0
cylinders       3
displacement    3
horsepower      0
weight          2
acceleration    2
model_year      0
origin          0
dtype: int64

In [54]:
df.dropna(subset=["cylinders"],inplace=True)
print(df.isnull().sum())

mpg             0
cylinders       0
displacement    3
horsepower      0
weight          2
acceleration    2
model_year      0
origin          0
dtype: int64

#### Option 2:If removing data isn't ideal, you can impute (df.[""].fillna(df[""].mean(),inplace)) missing values using methods like mean, median, or most frequent.

In [62]:
df["displacement"].fillna(df["displacement"].mean(), inplace=True)
df["weight"].fillna(df["weight"].mean(), inplace=True)
df["acceleration"].fillna(df["acceleration"].mean(), inplace=True)
print(df.info())
print(df)

<class 'pandas.core.frame.DataFrame'>
Index: 383 entries, chevrolet chevelle malibu to chevy s-10
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           383 non-null    float64
 1   cylinders     383 non-null    float64
 2   displacement  383 non-null    float64
 3   horsepower    383 non-null    float64
 4   weight        383 non-null    float64
 5   acceleration  383 non-null    float64
 6   model_year    383 non-null    int64
 7   origin        383 non-null    object
dtypes: float64(6), int64(1), object(1)
memory usage: 26.9+ KB
None
                            mpg  cylinders  displacement  horsepower  weight  \
name
chevrolet chevelle malibu  18.0        8.0         307.0       130.0  3504.0
buick skylark 320          15.0        8.0         350.0       165.0  3693.0
plymouth satellite         18.0        8.0         318.0       150.0  3436.0
amc rebel sst              16.0        8.0         304.0       150.0  3433.0
ford galaxie 500           15.0        8.0         429.0       198.0  4341.0
...                         ...        ...           ...         ...     ...
ford mustang gl            27.0        4.0         140.0        86.0  2790.0
vw pickup                  44.0        4.0          97.0        52.0  2130.0
dodge rampage              32.0        4.0         135.0        84.0  2295.0
ford ranger                28.0        4.0         120.0        79.0  2625.0
chevy s-10                 31.0        4.0         119.0        82.0  2720.0

                           acceleration  model_year  origin
name
chevrolet chevelle malibu          12.0          70     usa
buick skylark 320                  11.5          70     usa
plymouth satellite                 11.0          70     usa
amc rebel sst                      12.0          70     usa
ford galaxie 500                   10.0          70     usa
...                                 ...         ...     ...
ford mustang gl                    15.6          82     usa
vw pickup                          24.6          82  europe
dodge rampage                      11.6          82     usa
ford ranger                        18.6          82     usa
chevy s-10                         19.4          82     usa

[383 rows x 8 columns]

C:\Users\priya\AppData\Local\Temp\ipykernel_59504\4197977051.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["displacement"].fillna(df["displacement"].mean(), inplace=True)
C:\Users\priya\AppData\Local\Temp\ipykernel_59504\4197977051.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["weight"].fillna(df["weight"].mean(), inplace=True)
C:\Users\priya\AppData\Local\Temp\ipykernel_59504\4197977051.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["acceleration"].fillna(df["acceleration"].mean(), inplace=True)

## Standardising Data and Feature Scaling
- As only numeric values can be standardised for the model to input, only mpg, displacement, horsepower, weight, acceleration column will be standardised.
- The Min-Max Scaling makes sure there are no outlires in the data which is more suitable for Standrdsising.

#### Step 5: Feature Scaling


<img src="https://i.postimg.cc/G21gMYnF/f.png" alt="Image Description" width="500">









 Option 1: This method scales the data to have a mean of 0 and a standard deviation of 1.
### StandardScaler()

In [66]:
c = ['mpg', 'displacement', 'horsepower', 'weight', 'acceleration']
sc1 = StandardScaler()
df[c]=sc1.fit_transform(df[c])
df.head

<bound method NDFrame.head of                                 mpg  cylinders  displacement  horsepower  \
name
chevrolet chevelle malibu -0.703621        8.0      1.101084    0.678741
buick skylark 320         -1.087451        8.0      1.517044    1.598805
plymouth satellite        -0.703621        8.0      1.207493    1.204492
amc rebel sst             -0.959507        8.0      1.072064    1.204492
ford galaxie 500          -1.087451        8.0      2.281249    2.466294
...                             ...        ...           ...         ...
ford mustang gl            0.447868        4.0     -0.514388   -0.477912
vw pickup                  2.622903        4.0     -0.930347   -1.371689
dodge rampage              1.087584        4.0     -0.562755   -0.530487
ford ranger                0.575811        4.0     -0.707857   -0.661925
chevy s-10                 0.959641        4.0     -0.717531   -0.583062

                             weight  acceleration  model_year  origin
name
chevrolet chevelle malibu  0.634807     -1.316344          70     usa
buick skylark 320          0.859074     -1.500783          70     usa
plymouth satellite         0.554118     -1.685222          70     usa
amc rebel sst              0.550559     -1.316344          70     usa
ford galaxie 500           1.627988     -2.054101          70     usa
...                             ...           ...         ...     ...
ford mustang gl           -0.212422      0.011618          82     usa
vw pickup                 -0.995576      3.331523          82  europe
dodge rampage             -0.799787     -1.463895          82     usa
ford ranger               -0.408211      1.118253          82     usa
chevy s-10                -0.295484      1.413356          82     usa

[383 rows x 8 columns]>

#### Option 2:This method scales the data to a fixed range, usually between 0 and 1. 
###  MinMaxScaler()

In [68]:
sc2=MinMaxScaler()
df[c]=sc2.fit_transform(df[c])
df.head

<bound method NDFrame.head of                                 mpg  cylinders  displacement  horsepower  \
name
chevrolet chevelle malibu  0.239362        8.0      0.617571    0.456522
buick skylark 320          0.159574        8.0      0.728682    0.646739
plymouth satellite         0.239362        8.0      0.645995    0.565217
amc rebel sst              0.186170        8.0      0.609819    0.565217
ford galaxie 500           0.159574        8.0      0.932817    0.826087
...                             ...        ...           ...         ...
ford mustang gl            0.478723        4.0      0.186047    0.217391
vw pickup                  0.930851        4.0      0.074935    0.032609
dodge rampage              0.611702        4.0      0.173127    0.206522
ford ranger                0.505319        4.0      0.134367    0.179348
chevy s-10                 0.585106        4.0      0.131783    0.195652

                             weight  acceleration  model_year  origin
name
chevrolet chevelle malibu  0.536150      0.238095          70     usa
buick skylark 320          0.589736      0.208333          70     usa
plymouth satellite         0.516870      0.178571          70     usa
amc rebel sst              0.516019      0.238095          70     usa
ford galaxie 500           0.773462      0.119048          70     usa
...                             ...           ...         ...     ...
ford mustang gl            0.333711      0.452381          82     usa
vw pickup                  0.146583      0.988095          82  europe
dodge rampage              0.193365      0.214286          82     usa
ford ranger                0.286929      0.630952          82     usa
chevy s-10                 0.313864      0.678571          82     usa

[383 rows x 8 columns]>

####  Step 6:Separate the dataset into features (X) and target (y) variables. The target is usually the column you want to predict.

In [77]:
x=df[["mpg","cylinders","displacement","weight","acceleration"]]
y=df[["horsepower"]]
y.head()

                           horsepower
name
chevrolet chevelle malibu    0.456522
buick skylark 320            0.646739
plymouth satellite           0.565217
amc rebel sst                0.565217
ford galaxie 500             0.826087


### Step 7: After preprocessing, save the cleaned and scaled dataset to a new CSV file

In [87]:
final = pd.concat([x,y],axis=1)
final.to_csv("cleaned_automobile_data.csv",index=False)